@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");


* {
    box-sizing: border-box;
}

body, span {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Rubik', sans-serif;
}

/*  Begain Custom Style  */
.main-header .container-fluid,
.slider-section .container-fluid {
    max-width: 1480px;
}

body .btn-primary {
    background-color: #e73a3e !important;
    border-color: #e73a3e;
    padding: 10px 40px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

    body .btn-primary:hover {
        border-color: #111;
    }

    body .btn-primary::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #111;
        border-color: #111;
        z-index: -1;
        transition: .3s;
    }

    body .btn-primary:hover::after {
        width: 100%;
    }

/* Menu */

  

        ul.our-primary-menu li a {
            text-decoration: none;
            display: inline-block;
            padding: 10px 20px;
            border: 1px solid white;
            color: #111;
            font-weight: 500;
            border-radius: 5px;
        }

            ul.our-primary-menu li a:hover {
                background-color: red;
                color: white;
            }


.search {
    height: 100%;
    width: 30px;
}

.on {
    color: red;
    border: none;
    background-color: #fafafa;
    border-radius: 50%;
}

.off {
    color: red;
    border: none;
    background-color: #fafafa;
    display: none;
    border-radius: 50%;
}

.header-call {
    width: 220px;
}

.header-call-icon {
    font-size: 33px;
    color: #e73a3e;
    padding-left: 20px;
}

.header-call-info span {
    color: #606060;
}

.header-call-info a {
    font-weight: 500;
    color: #111;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 1480px) {
    .header-info {
        flex-direction: column;
        height: 200px;
        position: relative;
        right: 31%;
    }

    .header-button {
        flex-direction: column;
        position: relative;
        top: 8%;
        left: 8%;
    }

    .log1 {
        position: relative;
        top: 130%;
        right: 50%;
        width: 130px;
    }
}


@media only screen and (max-width: 1480px) {
    .ul.our-primary-menu {
        position: relative;
        left: 20px;
    }

    .search {
        position: relative;
        right: 80px;
        height: 20px;
    }

    .header-call {
        position: relative;
        right: 10px;
    }

    .header-button {
        position: relative;
        bottom: 135px;
    }

    .search-box {
        transform: translateX(-480px);
    }
}

       /*  contact-title  */

       .contact-title {
        height: 160px;
        width: 1480px;
        position: relative;
        z-index: 1;
        font-family: 'Rubik', sans-serif;
        text-align:center;
        background-color:#e0e0e0;
    }
    
    .search-box {
        display: flex;
        height: 60px;
        width: 280px;
        position: absolute;
        left: 900px;
        border-radius: 10px;
        display: none;
        z-index: 2;
        background-color: white;
        box-shadow: 5px 5px 10px 2px grey;
    }
    
    .type {
        height: 40px;
        width: 235px;
        position: relative;
        top: 12px;
        left: 5px;
        border-radius: 10px;
    }
    
    .sub {
        height: 30px;
        width: 30px;
        background-color: #fafafa;
        color: red;
        position: relative;
        top: 12px;
        border-radius: 50%;
    }
    
    
    .contact-title h1 {
        height: 100px;
        width: 1440px;
        margin: 0px 20px;
        position:relative;
        top:40px;
    }
    .contact-title p{
        color:#666565;
    }
    .con-sec{
        height: 800px;
        width: 1480px;
        background-color: #e0e0e0;
        display:flex;
    }
    .con-us{
        height:650px;
        width:30%;
        background-color: #2d1880;
        border-radius: 15px;
        position: relative;
        left: 150px;
    }
    .con-head{
        color:white;
        height: 200px;
        width:80%;
        position: relative;
        top: 50px;
        left: 50px;
    }
    .con-head p{
        position: relative;
        top: 20px;
    }
    .con-icon{
        position: relative;
        top: 50px;
    }
    .phn{
        display: flex;
        height: 20px;
        width: 80%;
        position: relative;
        left: 50px;
    }
    .phn i{
        color: tomato;
        padding-top: 3px;
    }
    .phn a{
        text-decoration: none;
        font-size:12pt;
        position: relative;
        left: 20px;
        color: white;
    }

    .mail{
        display: flex;
        height: 20px;
        width: 80%;
        position: relative;
        left: 50px;
        top:30px;
    }
    .mail i{
        color: tomato;
        padding-top: 3px;
    }
    .mail a{
        text-decoration: none;
        font-size:12pt;
        position: relative;
        left: 20px;
        color: white;
    }

    .location{
        display: flex;
        height: 20px;
        width: 80%;
        position: relative;
        left: 50px;
        top:60px;
    }
    .location i{
        color: tomato;
        padding-top: 3px;
    }
    .location p{
        font-size:12pt;
        position: relative;
        left: 20px;
        color: white;
    }
    .social{
        height: 50px;
        width: 80%;
        position: relative;
        left: 50px;
        top: 200px;
        
    }
    .social a{
        margin: 10px;
        padding: 10px 13px;
    }
    .social i{
        color: white;
    }
    .social a:hover{
        background-color: tomato;
        border: 2px solid white;
        border-radius: 50%;
    }
    #facebook{
        padding: 10px 2px;
    }



    .con-form {
        background-color: #ffffff;
        height: 650px;
        width: 40%;
        border-radius: 15px;
        position: relative;
        left: 220px;
    }
    .row1{
        display: flex;
    }
    .row2{
        display: flex;
        position:relative;
        top: 50px;
    }
    .col1 p{
        position: relative;
        top: 35px;
        font-size: 10pt;
        font-family: 'Rubik', sans-serif;
    }
    .col2{
        margin-left: 30px;
    }
    .col2 p{
        position: relative;
        top: 35px;
        font-size: 10pt;
        font-family: 'Rubik', sans-serif;
    }
    input[type='text']{
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom-color:blue ;
        position: relative;
        top: 20px;
    }
    input[type="text"]:focus{
        outline: none;
    }
    .row3{
        position: relative;
        top: 130px;
        height:200px;
        
    }
    .col3{
        justify-content:space-between;
        font-size: 15pt;
        
    }
    input[type='radio']{
        position: relative;
        top: 5px;
        height: 18px;
        width: 18px;
    }
    .col4{
        display: flex;
    }
    .row4{
        padding-left: 10px;
    }
    .msg p{
        font-size: 15pt;
        font-family: 'Rubik', sans-serif;
        position:relative;
        top:50px;
    }
    .submit{
        text-align:right;
        position:relative;
        top:35px;
        right:50px;
    }
    textarea{
        position: relative;
        top: 10px;
    }
    button{
        border: none;
        padding: 10px 30px;
        border-radius: 10px;
        background-color: #020257;
        color: white;
    }
    button:focus{
        outline: none;
        border:none;
    }


    /* Finish */

.finish {
    height: 70px;
    max-width: 1480px;
    background-color: black;
}

    .finish h6 {
        text-align: center;
        font-family: 'Rubik', sans-serif;
        color: whitesmoke;
        position: relative;
        top: 30px;
    }

    .finish span {
        color: crimson;
    }



