@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");


*{
    box-sizing:border-box;
}
body, span {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Rubik', sans-serif;
}

/*  Begain Custom Style  */
.main-header .container-fluid,
.slider-section .container-fluid {
    max-width: 1480px;
}

body .btn-primary {
    background-color: #e73a3e !important;
    border-color: #e73a3e;
    padding: 10px 40px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

    body .btn-primary:hover {
        border-color: #111;
    }

    body .btn-primary::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #111;
        border-color: #111;
        z-index: -1;
        transition: .3s;
    }

    body .btn-primary:hover::after {
        width: 100%;
    }

/* Menu */


ul.our-primary-menu li a {
     text-decoration: none;
     display: inline-block;
     padding: 10px 20px;
     border: 1px solid white;
     color: #111;
     font-weight: 500;
     border-radius: 5px;
}

ul.our-primary-menu li a:hover {
      background-color: red;
      color: white;
}



.search {
    height: 100%;
    width: 30px;
}

.on {
    color: red;
    border: none;
    background-color: #fafafa;
    border-radius: 50%;
}

.off {
    color: red;
    border: none;
    background-color: #fafafa;
    display: none;
    border-radius: 50%;
}

.header-call {
    width: 220px;
}

.header-call-icon {
    font-size: 33px;
    color: #e73a3e;
    padding-left: 20px;
}

.header-call-info span {
    color: #606060;
}

.header-call-info a {
    font-weight: 500;
    color: #111;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 1480px) {
    .header-info {
        flex-direction: column;
        height: 200px;
        position: relative;
        right: 31%;
    }

    .header-button {
        flex-direction: column;
        position: relative;
        top: 8%;
        left: 8%;
    }

    .log1 {
        position: relative;
        top: 130%;
        right: 50%;
        width: 130px;
    }
}

/*  signin-title  */

.login-title {
    height: 130px;
    max-width: 1480px;
    background-image: linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
    text-align: center;
}

.search-box {
    display: flex;
    height: 60px;
    width: 280px;
    position: relative;
    left: 800px;
    border-radius: 10px;
    display: none;
    background-image: linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
}

.type {
    height: 40px;
    width: 235px;
    position: relative;
    top: 18px;
    left: 5px;
    border-radius: 10px;
}

.sub {
    height: 30px;
    width: 30px;
    background-color: #fafafa;
    color: red;
    position: relative;
    top: 18px;
    border-radius: 50%;
}
.team-title {
    height: 70px;
    display: block;
    color:white;
    background-image: linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
}
    .team-title h1 {
        position: relative;
        top: 20%;
    }


@media only screen and (max-width: 1480px) {
    .ul.our-primary-menu {
        position: relative;
        left: 20px;
    }

    .search {
        position: relative;
        right: 80px;
        height: 20px;
    }

    .header-call {
        position: relative;
        right: 10px;
        
    }

    .header-button {
        position: relative;
        bottom: 135px;
       
    }

    .search-box {
        transform: translateX(-480px);
    }
}

/* form */

.form{
    height: 600px;
    max-width: 1480px;
    background: rgb(85, 80, 80);
    margin: auto;
    
}
.form-body{
    height: 600px;
    max-width: 500px;
    background-color: gray;
    position:relative;
    left: 500px;
}
@media only screen and (max-width:1480px) {
    .form-body{
        transform: translateX(-400px);
        
    }
}
.form-tit{
    font-size: 20pt;
    position: relative;
    left: 150px;
    top:10px;
}
.form-tit i{
position: relative;
left: 20px;
border: 1px solid rgb(85, 80, 80);
padding: 10px 20px;
border-radius: 50%;
}

.info-form{
    position: relative;
    left:100px;
}

.info-form p{
    transform: translateX(-180px);
}

.info-form p a{
    text-decoration: none;
}
.info-form button{
    position: relative;
    top:50px;
    left: 50px;
}

input[type=text], input[type=password] {
    width: 50%;
    height: 40px;
    padding: 15px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .form span{
      width: 200px;
  }
  .btn-form{
      position: relative;
      right: 60px;
  }
  .form button{
      padding: 5px 20px;
      font-size: 15pt;
      border-radius: 10px;
      border-color:rebeccapurple;
  }

/* Finish */

.finish {
    height: 70px;
    max-width: 1480px;
    background-color: black;
}

    .finish h6 {
        text-align: center;
        font-family: 'Rubik', sans-serif;
        color: whitesmoke;
        position: relative;
        top: 30px;
    }

    .finish span {
        color: crimson;
    }