@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap');

body, span {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Rubik', sans-serif;
}

/*  Begain Custom Style  */
.main-header .container-fluid,
.slider-section .container-fluid {
    max-width: 1480px;
}

body .btn-primary {
    background-color: #e73a3e !important;
    border-color: #e73a3e;
    padding: 10px 40px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

    body .btn-primary:hover {
        border-color: #111;
    }

    body .btn-primary::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #111;
        border-color: #111;
        z-index: -1;
        transition: .3s;
    }

    body .btn-primary:hover::after {
        width: 100%;
    }

/* Menu */
ul.our-primary-menu {
    position: relative;
    right: 20px;
}

    ul.our-primary-menu li {
    }

        ul.our-primary-menu li a {
            text-decoration: none;
            display: inline-block;
            padding: 10px 20px;
            border: 1px solid white;
            color: #111;
            font-weight: 500;
            border-radius: 5px;
        }

            ul.our-primary-menu li a:hover {
                background-color: red;
                color: white;
            }

.header-info {
}
.search {
    height: 100%;
    width: 30px;
}

.on {
    color: red;
    border: none;
    background-color: #fafafa;
    border-radius: 50%;
}

.off {
    color: red;
    border: none;
    background-color: #fafafa;
    display: none;
    border-radius: 50%;
}

.header-call {
    width: 220px;
}

.header-call-icon {
    font-size: 33px;
    color: #e73a3e;
    padding-left: 20px;
}

.header-call-info span {
    color: #606060;
}

.header-call-info a {
    font-weight: 500;
    color: #111;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 1480px) {
    .header-info {
        flex-direction:column;
        height:200px;
        position:relative;
        right:31%;
    }
    .header-button {
        flex-direction:column;
        position:relative;
        top:8%;
        left:8%;
    }
    .log1{
        position:relative;
        top:130%;
        right:50%;
        width:130px;
    }
}
    /*  team-page  */
    .team-page {
        max-width: 1480px;
        height: 1000px;
        font-family: 'Rubik', sans-serif;
    }
.search-box {
    display: flex;
    height: 60px;
    width: 280px;
    width: 280px;
    position: relative;
    left: 800px;
    border-radius: 10px;
    display: none;
    background-color:chocolate;
}

.type {
    height: 40px;
    width: 235px;
    position: relative;
    top: 18px;
    left: 5px;
    border-radius: 10px;
}

.sub {
    height: 30px;
    width: 30px;
    background-color: #fafafa;
    color: red;
    position: relative;
    top: 18px;
    border-radius: 50%;
}

.text1 {
    height: 100%;
    width: 60%;
    text-align: center;
}
.team-title {
    width: 100%;
    height: 150px;
    color: whitesmoke;
    background-color: chocolate;
}

.team-title h2 {
    text-align: center;
    position: relative;
    top: 50px;
}

@media only screen and (max-width: 1480px){
    .ul.our-primary-menu {
        position:relative;
        left:20px;
    }
    .search{
        position:relative;
        right:80px;       
        height:40px;
        
    }
    .header-call {
        position: relative;
        right: 10px;
    }
    .header-button {
        position: relative;
        bottom: 135px;
    }
    .search-box{
        transform:translateX(-380px);
    }
}

/* Samshul islam */
.mem-sam {
    height: 740px;
    width: 100%;
    position: relative;
    top: 5px;
}

    .mem-sam1 {
        display: flex;
        background-color: chocolate;
    }

    .mem-img1 {
        height: 400px;
        width: 50%;
        text-align: center;
    }

        .mem-img1 img {
            height: 400px;
            width: 400px;
            border: 5px solid white;
            border-radius: 50%;
        }

    .mem-title1 {
        height: 400px;
        width: 50%;
        padding-right: 60px;
        color: white;
    }

        .mem-title1 h2 {
            position: relative;
            top: 70px;
        }

        .mem-title1 p {
            position: relative;
            top: 90px;
        }

    .mem-skill1 {
        height: 300px;
        width: 50%;
        text-align: center;
        background-color: white;
        position: relative;
        top: 40px;
        left: 200px;
    }

        .mem-skill1 .span1 {
            padding: 5px;
            border: 2px solid red;
            border-radius: 5px;
        }

    .right .bars {
        margin-bottom: 15px;
    }

    .right .info {
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-between;
    }

    .right span {
        font-weight: 500;
        font-size: 18px;
    }

    .right .line {
        height: 5px;
        width: 100%;
        background: lightgrey;
        position: relative;
    }

        .right .line::before {
            content: "";
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            background: crimson;
        }

    .right .html1::before {
        width: 90%;
    }

    .right .css1::before {
        width: 85%;
    }

    .right .javascript1::before {
        width: 70%;
    }

    .right .bootstrap1::before {
        width: 80%;
    }

    .right .jquery1::before {
        width: 60%;
    }

    @media only screen and (max-width: 1480px) {
        .mem-img1 img {
            height: 150px;
            width: 150px;
            position: relative;
            top: 30%;
        }

        .mem-title1 h2 {
            font-size: 15pt;
            position: relative;
            width: 300px;
        }

        .mem-title1 p {
            font-size: 12pt;
            padding: 0;
        }
    }
    /* Enamul */
    .mem-ena {
        height: 740px;
        width: 100%;
        position: relative;
        top: 5px;
    }

    .mem-ena1 {
        display: flex;
        background-color: chocolate;
    }

    .mem-img2 {
        height: 400px;
        width: 50%;
        text-align: center;
    }

        .mem-img2 img {
            height: 400px;
            width: 400px;
            border: 5px solid white;
            border-radius: 50%;
        }

    .mem-title2 {
        height: 400px;
        width: 50%;
        padding-right: 60px;
        color: white;
    }

        .mem-title2 h2 {
            position: relative;
            top: 70px;
        }

        .mem-title2 p {
            position: relative;
            top: 90px;
        }

    .mem-skill2 {
        height: 300px;
        width: 50%;
        text-align: center;
        background-color: white;
        position: relative;
        top: 40px;
        left: 200px;
    }

        .mem-skill2 .span2 {
            padding: 5px;
            border: 2px solid red;
            border-radius: 5px;
        }

    .right .bars {
        margin-bottom: 15px;
    }

    .right .info {
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-between;
    }

    .right span {
        font-weight: 500;
        font-size: 18px;
    }

    .right .line {
        height: 5px;
        width: 100%;
        background: lightgrey;
        position: relative;
    }

        .right .line::before {
            content: "";
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            background: crimson;
        }

    .right .html2::before {
        width: 85%;
    }

    .right .css2::before {
        width: 75%;
    }

    .right .js2::before {
        width: 60%;
    }

    .right .bootstrap2::before {
        width: 70%;
    }

    .right .jquery2::before {
        width: 65%;
    }

    @media only screen and (max-width: 1480px) {
        .mem-img2 img {
            height: 150px;
            width: 150px;
            position: relative;
            top: 30%;
        }

        .mem-title2 h2 {
            font-size: 15pt;
            position: relative;
            width: 300px;
        }

        .mem-title2 p {
            font-size: 12pt;
            padding: 0;
        }
    }
    /* Alamin */

    .mem-ala {
        height: 740px;
        width: 100%;
        position: relative;
        top: 5px;
    }

    .mem-ala1 {
        display: flex;
        background-color: chocolate;
    }


    .mem-title3 {
        height: 400px;
        width: 50%;
        padding-right: 60px;
        color: white;
    }

        .mem-title3 h2 {
            position: relative;
            top: 70px;
        }

        .mem-title3 p {
            position: relative;
            top: 90px;
        }

    .mem-skill3 {
        height: 300px;
        width: 50%;
        text-align: center;
        background-color: white;
        position: relative;
        top: 40px;
        left: 200px;
    }

        .mem-skill3 .span3 {
            padding: 5px;
            border: 2px solid red;
            border-radius: 5px;
        }

    .right .bars {
        margin-bottom: 15px;
    }

    .right .info {
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-between;
    }

    .right span {
        font-weight: 500;
        font-size: 18px;
    }

    .right .line {
        height: 5px;
        width: 100%;
        background: lightgrey;
        position: relative;
    }

        .right .line::before {
            content: "";
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            background: crimson;
        }

    .right .html3::before {
        width: 85%;
    }

    .right .css3::before {
        width: 75%;
    }

    .right .js3::before {
        width: 60%;
    }

    .right .bootstrap3::before {
        width: 70%;
    }

    .right .jquery3::before {
        width: 65%;
    }

    @media only screen and (max-width: 1480px) {
        .mem-img3 img {
            height: 150px;
            width: 150px;
            position: relative;
            top: 30%;
        }

        .mem-title3 h2 {
            font-size: 15pt;
            position: relative;
            width: 300px;
        }

        .mem-title3 p {
            font-size: 12pt;
            padding: 0;
        }
    }

    /* Yasir Arafat */

    .mem-ara {
        height: 740px;
        width: 100%;
        position: relative;
        top: 5px;
    }

    .mem-ara1 {
        display: flex;
        background-color: chocolate;
    }

    .mem-title4 {
        height: 400px;
        width: 50%;
        padding-right: 60px;
        color: white;
    }

        .mem-title4 h2 {
            position: relative;
            top: 70px;
        }

        .mem-title4 p {
            position: relative;
            top: 90px;
        }

    .mem-skill4 {
        height: 300px;
        width: 50%;
        text-align: center;
        background-color: white;
        position: relative;
        top: 40px;
        left: 200px;
    }

        .mem-skill4 .span4 {
            padding: 5px;
            border: 2px solid red;
            border-radius: 5px;
        }

    .right .bars {
        margin-bottom: 15px;
    }

    .right .info {
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-between;
    }

    .right span {
        font-weight: 500;
        font-size: 18px;
    }

    .right .line {
        height: 5px;
        width: 100%;
        background: lightgrey;
        position: relative;
    }

        .right .line::before {
            content: "";
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            background: crimson;
        }

    .right .html4::before {
        width: 85%;
    }

    .right .css4::before {
        width: 75%;
    }

    .right .js4::before {
        width: 60%;
    }

    .right .bootstrap4::before {
        width: 70%;
    }

    .right .jquery4::before {
        width: 65%;
    }

    @media only screen and (max-width: 1480px) {
        .mem-img4 img {
            height: 150px;
            width: 150px;
            position: relative;
            top: 30%;
        }

        .mem-title4 h2 {
            font-size: 15pt;
            position: relative;
            width: 300px;
        }

        .mem-title4 p {
            font-size: 12pt;
            padding: 0;
        }
    }


    /* Chaity */

    .mem-cha {
        height: 740px;
        width: 100%;
        position: relative;
        top: 5px;
    }

    .mem-cha1 {
        display: flex;
        background-color: chocolate;
    }

    .mem-title5 {
        height: 400px;
        width: 50%;
        padding-right: 60px;
        color: white;
    }

        .mem-title5 h2 {
            position: relative;
            top: 70px;
        }

        .mem-title5 p {
            position: relative;
            top: 90px;
        }

    .mem-skill5 {
        height: 300px;
        width: 50%;
        text-align: center;
        background-color: white;
        position: relative;
        top: 40px;
        left: 200px;
    }

        .mem-skill5 .span5 {
            padding: 5px;
            border: 2px solid red;
            border-radius: 5px;
        }

    .right .bars {
        margin-bottom: 15px;
    }

    .right .info {
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-between;
    }

    .right span {
        font-weight: 500;
        font-size: 18px;
    }

    .right .line {
        height: 5px;
        width: 100%;
        background: lightgrey;
        position: relative;
    }

        .right .line::before {
            content: "";
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            background: crimson;
        }

    .right .html5::before {
        width: 85%;
    }

    .right .css5::before {
        width: 75%;
    }

    .right .js5::before {
        width: 60%;
    }

    .right .bootstrap5::before {
        width: 70%;
    }

    .right .jquery5::before {
        width: 65%;
    }

    @media only screen and (max-width: 1480px) {
        .mem-img5 img {
            height: 150px;
            width: 150px;
            position: relative;
            top: 30%;
        }

        .mem-title5 h2 {
            font-size: 15pt;
            position: relative;
            width: 300px;
        }

        .mem-title5 p {
            font-size: 12pt;
            padding: 0;
        }
    }

    /* Finish */

    .finish {
        height: 70px;
        max-width: 1480px;
        background-color: chocolate;
        position: relative;
        top: 20px;
    }

        .finish h6 {
            text-align: center;
            font-family: 'Rubik', sans-serif;
            color: whitesmoke;
            position: relative;
            top: 30px;
        }

        .finish span {
            color: crimson;
        }